form{
    text-align: center;
    font-family: cursive;
    font-size: 25px;

}
body{
    background-color: aqua;
}
hi{
    color: black;
    text-align: left;
    font-family: Ariel,Helvetica ,sans-serif;
    font-size: 25px;
    

}

a.signup{
    text-align: center;
    font-size: 20px;
    position: relative;
    left: 4px;
    
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}