<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MyDairy</title>
	<link rel="stylesheet" type="text/css" href="../css/dashboard.css">
	<script src="../js/dashboard.js"></script>
</head>
<body>
	<header>
		<h1>
			<center>MyDairy App
		</h1>
		<div class="topnav">
			<center>
				<a href="./SignUp.html">SignUp</a></a>
				<a href="./Login.html">Login</a></a>
				<a href="../index.html">Dashboard</a></a>
			</center>
		</div>
		<div class="body">
			<section class="view-entries-header"></section><br/>
				<section class="view-entries"></section>
					<h2>Entries</h2>
		</div>
		<center>
		</h3> Don't you just love Mondays…</h3>
		<p> I didn't have my cup of tea.<br> My sugar level is dropping
		</p></center>
		<center>
			<div class="post entries">
				<a href="../index.html" class="button-blus">Post Entries</a></div>
			</div>
		</center>

		<div>
			<center>
				<div class="user-name"><a href="../index.html"><span>View Entries</span></a>
				</div>
		</div>
		</center>
		<hr/>
		<center>
			<p id="demo">MyDiary by Candy Susan.</p>
			<button onclick="myFunction()">MyDiary</button>
		</center>
		<center>
			<footer class="center">
				<p>© 2018 MyDiary</p>

			</footer>
		</center>
</html>
</body>